@use "/src/variables" as *;

.button {
    border: none;
    border-radius: 1rem;
}

.small {
    height: fit-content;
    width: fit-content;
}

.medium {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    
}

.large {
    height: fit-content;
    width: fit-content;
    padding: 1rem 2.5rem;    
    font-size: 2rem;
}

.red {
    background-color: $color-red;
    color: $color-white;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: rgb(189, 52, 52);
    }
}

.blue {
    background-color: $color-blue;
    color: $color-white;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: rgb(34, 91, 189);
    }
}

.green {
    background-color: $color-green;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: rgb(57, 193, 57);
    }
}

.yellow {
    background-color: $color-yellow;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: rgb(199, 192, 59);
    }
}