@use "/src/variables" as *;

.button {
    border: none;
    border-radius: 1rem;
}

.small {
    height: fit-content;
    width: fit-content;
}

.medium {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    
}

.large {
    height: fit-content;
    width: fit-content;
    padding: 1.5rem;
    font-size: 2rem;
}

.red {
    background-color: $color-red;
}

.blue {
    background-color: $color-blue;
}

.green {
    background-color: $color-green;
    &:hover {
        background-color: rgb(57, 193, 57);
    }
}

.yellow {
    background-color: $color-yellow;
}