* {
    margin: 0;
    padding: 0;
}

.card-list {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .card-list {
        flex-direction: column;
    }
}