@import "node_modules/bootstrap/scss/bootstrap";

.view-trainer {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__avatar {
        height: 80vh;
        width: auto;
    }

    &__main {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}