@use "/src/variables" as *;

@keyframes pokemonJump {
    0%,
    25% {
        transform: translateY(2rem);
    }
    50% {
        transform: translateY(-1rem);
    }
    75% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(-0.5rem);
    }

}

.view-trainer {
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__images {
        width: 60vw;
    }

    &__avatar {
        height: 45rem;
        width: auto;
    }

    &__pokemon {
        height: 30rem;
        width: auto;

        &:hover {
            animation: pokemonJump 1s infinite alternate;
        }
    }

    &__text {
        height: 40vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $color-green;
        text-shadow: -2px 0 $color-dark, 0 2px $color-dark, 2px 0 $color-dark, 0 -2px $color-dark;
    }

    &__intro {
        font-size: 5rem;
    }

    &__buttons {
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}