
@keyframes cardJiggle {
    100% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    25% {
        transform: rotate(2deg);
    }
}

.card {
    width: 20vw;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        animation: cardJiggle 0.1s 3;
    }

    &__image {
        max-height: 25vh;
        width: auto;        
    }

    &__pokediv {
        width: 17.5vw;
        display: flex;
        justify-content: flex-start;
    }

    &__pokeball {
        position: absolute;
        z-index: 1;
        bottom: 1.5rem;
        height: 1.5rem;
        width: auto;
    }
}

@media screen and (max-width: 720px) {
    .card-list {
        flex-direction: column;
    }
}
