
.card {
    height: 55vh;
    width: 20vw;
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
        height: 20vh;
        width: auto;        
    }

    &__pokediv {
        width: 17.5vw;
        display: flex;
        justify-content: flex-start;
    }

    &__pokeball {
        position: relative;
        z-index: 1;
        top: 50;
        height: 1.5rem;
        width: auto;
    }
}
