* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:active {
    color: black;
}

.card {
    height: 50vh;
    width: 20vw;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__name {
        font-size: 2rem;
        color: black;
    }

    &__image {
        height: 20vh;
        margin: 2rem;
        width: auto;        
    }
}

.hide {
    display: none;
}

.card:hover + .hide {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}