@use "/src/variables" as *;

@keyframes jiggle {
    100% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(1rem);
    }
}

a {
    text-decoration: none;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__create-trainer {
        height: 30vh;
        width: 20vw;
        margin-top: 10rem;
        border: 0.3rem solid rgb(81, 192, 30);
        border-radius: 1rem;
        background-color: $color-green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__message {
            width: 17vw;
            font-weight: 700;
        }

        &__link {
            color: $color-white;
            padding: 1rem;
            background-color: green;
            border-radius: 1rem;
        }
    }

    &__customised {
        height: 75vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10rem;

        &__greeting {
            font-size: 4rem;
            color: $color-red;
            text-shadow: 3px 3px $color-dark;
        }

        &__row {
            display: flex;
        }

        &__image {
            height: 50vh;
            width: auto;

            &:hover {
                animation: jiggle 0.2s 3;
            }
        }
        &__buttons {
            width: 40vw;
            display: flex;
            justify-content: space-around;
        }
    }
}