@use "/src/variables" as *;

.modal {
    background-color: rgba($color-black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__floater {
        position: relative;
        background-color: $color-white;
        width: 30vw;
        height: 25vh;
        border-radius: 15px;
        display: flex;
        justify-content: center;

    }

    &__content {
      height: 23vh;
      width: 28vw;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__text {
        padding: 1rem;
        font-size: 1.5rem;
      }

      &__buttons {
        position: relative;
        display: flex;
        justify-content: space-around;
      }
    }

  
    &__cross {
        right: 2rem;
  
      &:hover {
        cursor: pointer;
      }
    }
}