* {
    margin: 0;
    margin: 0;
}

.pokedex {
    height: fit-content;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__loading {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__pokeball {
            height: 40vh;
        }
    }

    &__none {
        height: 80.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &__text {
            font-size: 3rem;    
        }
    }
}