.pokemon-page {
    height: 84vh;
    width: 100vw;
    margin-top: 12.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__left {
        height: 70vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__right {
        width: 40vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        box-shadow: 3px 3px 5px rgb(83, 132, 122);
    }

    &__image {
        height: 45vh;
        width: auto;
        margin: 2rem;
    }

    &__heading {
        font-size: 5rem;
    }

    &__id {
        font-size: 2rem;
    }

    &__species {
        font-size: 2rem;
        font-style: italic;
    }

    &__types {
        width: 18vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__1 {
            height: 3.5rem;
            width: 7rem;
            border-radius: 0.5rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__2 {
            height: 3.5rem;
            width: 7rem;
            border-radius: 0.5rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__description {
        font-size: 2rem;
        padding: 0rem 2rem;
        text-align: left;
    }

    &__button-div {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.Fire {
    background-color: rgb(244, 47, 25);
    color: white;
}

.Grass {
    background-color: rgb(85, 154, 72);
    color: white;
}

.Water {
    background-color: rgb(81, 81, 237);
    color: white;
}

.Poison {
    background-color: purple;
    color: white;
}

.Rock {
    background-color: rgb(178, 162, 126);
    color: black;
}

.Ground {
    background-color: rgb(202, 179, 88);
    color: white;
}

.Fairy {
    background-color: rgb(251, 216, 228);
    color: black;
}

.Electric {
    background-color: rgb(255, 234, 0);
    color: black;
}

.Steel {
    background-color: grey;
    color: white;
}

.Bug {
    background-color: rgb(105, 128, 0);
    color: white;
}

.Dragon {
    background-color: rgb(94, 106, 237);
    color: white;
}

.Ice {
    background-color: rgb(196, 243, 255);
    color: black;
}

.Flying {
    background-color: rgb(196, 196, 255);
    color: black;
}

.Fighting {
    background-color: brown;
    color: white;
}

.Psychic {
    background-color: rgb(213, 77, 168);
    color: white;
}

.Ghost {
    background-color: rgb(157, 85, 157);
    color: white;
}

.Dark {
    background-color: rgb(47, 47, 47);
    color: white;
}

.Normal {
    background-color: rgb(172, 172, 172);
    color: white;
}