.pokemon-page {
    height: 84vh;
    width: 100vw;
    margin-top: 9.3rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__left {
        height: 80vh;
        width: 45vw;
    }

    &__right {
        width: 40vw;
    }

    &__image {
        height: 45vh;
        width: auto;
        margin: 2rem;
    }

    &__heading {
        font-size: 5rem;
    }

    &__id {
        font-size: 2rem;
    }

    &__species {
        font-size: 1.5rem;
        font-style: italic;
    }

    &__description {
        font-size: 1.5rem;
        margin: 1rem;
        padding: 2rem;
    }

    &__button-div {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}