//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
$font-primary: "Nunito", sans-serif;
$font-secondary: "Acme", cursive;

//colours
$color-white: rgb(237, 249, 245);
$color-black: rgb(28, 29, 29);
$color-yellow: rgb(240, 227, 86);
$color-blue: rgb(136, 145, 242);
$color-red: rgb(230, 61, 75);
$color-green: rgb(143, 226, 118);