@import "node_modules/bootstrap/scss/bootstrap";


.nav {
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: rgb(245, 241, 233);
}

.nav-link {
    font-weight: 700;
    color: black;
}

