@use "/src/variables" as *;

@keyframes navJiggle {
    100% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.nav {
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $color-yellow;

    &__content {
        height: 9vh;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
    }
    &__item {
        text-decoration: none;
    }
    &__link {
        font-size: 2rem;
        color: $color-red;
        font-weight: 700;
        
        &:hover {
            animation: navJiggle 0.3s 1;
        }
    }
}






